<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.changge.org.mapper.OrgEmployeeMapper">
    <!--保存对象-->
    <insert id="insert" parameterType="OrgEmployee" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_org_employee(

                        username,
                        real_name,
                        email,
                        phone,
                        salt,
                        password,
                        age,
                        sex,
                        `state`,
                        department_id,
                        logininfo_id,

        ) values(
                                   #{username},
                                   #{real_name},
                                   #{email},
                                   #{phone},
                                   #{salt},
                                   #{password}
                                   #{age},
                                   #{sex},
                                   #{`state`},
                                   #{department.id},
                                   #{logininfo_id}
        )
    </insert>
    <!--删除对象-->
    <delete id="delete" parameterType="long">
        delete from t_org_employee where id = #{id}
    </delete>

    <!--更新对象-->
    <update id="update" parameterType="OrgEmployee">
        update t_org_employee
        set

                             username =#{username},
                                  real_name =#{real_name},
                                  email =#{email},
                                  phone =#{phone},
                                  salt =#{salt},
                                  password =#{password}
                                   age=#{age},
                                  sex= #{sex},
                                   `state`=#{`state`},
                                  department_id =#{department.id},
                                  logininfo_id= #{logininfo_id}
        where id = #{id}
    </update>
    <!--加载对象-->
    <select id="queryById" resultType="OrgEmployee" parameterType="long">
        select * from t_org_employee where id = #{id}
    </select>
    <!--加载所有对象-->
    <select id="queryAll" resultType="OrgEmployee">
                        SELECT
                    e.* ,
                    d.name

                FROM
                    t_org_employee e
                    LEFT JOIN t_org_department d
                    on
                    e.department_id=d.id
    </select>
    <!--//查询总数=参数（查询对象），返回值：long-->
    <select id="queryTotal" parameterType="OrgEmployeeQuery" resultType="long">
        select count(*) from t_org_employee
        <include refid="whereSql"/>
    </select>
    <!--//查询当前页数据=参数（查询对象），返回值:List-->
    <select id="queryPage" parameterType="OrgEmployeeQuery" resultType="OrgEmployee">
        SELECT
        e.* ,
        d.name

        FROM
        t_org_employee e
        LEFT JOIN t_org_department d
        on
        e.department_id=d.id
        <include refid="whereSql"/>
        limit #{start},#{pageSize}
    </select>
    <select id="quertByName" resultType="cn.changge.org.domain.OrgEmployee">
        select * from t_org_employee where username =#{username}
    </select>


    <sql id="whereSql">
        <where>
            <if test="keyword!=null and keyword!=''">
                and (username like concat('%',#{keyword},'%'))
            </if>
        </where>
    </sql>

    <!--//批量删除-->
    <delete id="batchDelete" parameterType="arraylist">
        delete from t_org_employee where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.changge.org.domain.OrgEmployee">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="email" property="email" />

        <result column="age" property="age" />
        <association property="department" javaType="department">
            <id column="id" property="id"></id>
            <result column="name" property="name"></result>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, email,  age, department_id AS department.id
    </sql>

</mapper>
