<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.changge.org.mapper.ShopEmployeeMapper">
    <!--保存对象-->
    <insert id="insert" parameterType="ShopEmployee" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_org_shop_employee(
                            shop_id,
                            employee_id,
                            is_admin
        ) values(
                                   #{shopId},
                                   #{employeeId},
                                   #{isAdmin}
        )
    </insert>
    <!--删除对象-->
    <delete id="delete" parameterType="long">
        delete from t_org_shop_employee where id = #{id}
    </delete>

    <!--更新对象-->
    <update id="update" parameterType="ShopEmployee">
        update t_org_shop_employee
        set

                            shop_id =#{shopId},
                            employee_id =#{employeeId},
                            is_admin =#{isAdmin}
        where id = #{id}
    </update>
    <!--加载对象-->
    <select id="queryById" resultType="ShopEmployee" parameterType="long">
        select * from t_org_shop_employee where id = #{id}
    </select>
    <!--加载所有对象-->
    <select id="queryAll" resultType="ShopEmployee">
        select * from t_org_shop_employee
    </select>
    <!--//查询总数=参数（查询对象），返回值：long-->
    <select id="queryTotal" parameterType="ShopEmployeeQuery" resultType="long">
        select count(*) from t_org_shop_employee
        <include refid="whereSql"/>
    </select>
    <!--//查询当前页数据=参数（查询对象），返回值:List-->
    <select id="queryPage" parameterType="ShopEmployeeQuery" resultType="ShopEmployee">
        select * from t_org_shop_employee
        <include refid="whereSql"/>
        limit #{start},#{pageSize}
    </select>


    <sql id="whereSql">
        <where>
            <if test="keyword!=null and keyword!=''">
                and (name like concat('%',#{keyword},'%'))
            </if>
        </where>
    </sql>

    <!--//批量删除-->
    <delete id="batchDelete" parameterType="arraylist">
        delete from t_org_shop_employee where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.changge.org.domain.ShopEmployee">
        <id column="id" property="id" />
        <result column="shop_id" property="shopId" />
        <result column="employee_id" property="employeeId" />
        <result column="is_admin" property="isAdmin" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, shop_id AS shopId, employee_id AS employeeId, is_admin AS isAdmin
    </sql>

</mapper>
