<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.changge.org.mapper.ShopOperateLogMapper">
    <!--保存对象-->
    <insert id="insert" parameterType="ShopOperateLog" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_org_shop_operate_log(
                            shop_id,
                            operate_type,
                            operate_id,
                            operate_time,
                            note
        ) values(
                                   #{shop.id},
                                   #{operateType},
                                   #{operateId},
                                   NOW(),
                                   #{note}
        )
    </insert>
    <!--删除对象-->
    <delete id="delete" parameterType="long">
        delete from t_org_shop_operate_log where id = #{id}
    </delete>

    <!--更新对象-->
    <update id="update" parameterType="ShopOperateLog">
        update t_org_shop_operate_log
        set

                            shop_id =#{shop.id},
                            operate_type =#{operateType},
                            operate_id =#{operateId},
                            operate_time =now(),
                            note =#{note}
        where id = #{id}
    </update>
    <!--加载对象-->
    <select id="queryById" resultMap="BaseResultMap" parameterType="long">
        select * from t_org_shop_operate_log where id = #{id}
    </select>
    <!--加载所有对象-->
    <select id="queryAll" resultMap="BaseResultMap">
        select o.*,s.name from t_org_shop_operate_log o left join t_org_shop s on o.shop_id=s.id
    </select>
    <!--//查询总数=参数（查询对象），返回值：long-->
    <select id="queryTotal" parameterType="ShopOperateLogQuery" resultType="long">
        select count(*) from t_org_shop_operate_log
        <include refid="whereSql"/>
    </select>
    <!--//查询当前页数据=参数（查询对象），返回值:List-->
    <select id="queryPage" parameterType="ShopOperateLogQuery" resultMap="BaseResultMap">
        select o.*,s.name from t_org_shop_operate_log o left join t_org_shop s on o.shop_id=s.id
        <include refid="whereSql"/>
        limit #{start},#{pageSize}
    </select>


    <sql id="whereSql">
        <where>
            <if test="keyword!=null and keyword!=''">
                and (o.name like concat('%',#{keyword},'%'))
            </if>
        </where>
    </sql>

    <!--//批量删除-->
    <delete id="batchDelete" parameterType="arraylist">
        delete from t_org_shop_operate_log where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.changge.org.domain.ShopOperateLog">
        <id column="id" property="id" />
        <result column="operate_type" property="operateType" />
        <result column="operate_id" property="operateId" />
        <result column="operate_time" property="operateTime" />
        <result column="note" property="note" />
        <association property="shop" javaType="shop">
            <id column="id" property="id"></id>
            <result column="name" property="name"></result>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
<!--    <sql id="Base_Column_List">-->
<!--        id, shop_id AS shopId, operate_type AS operateType, operate_id AS operateId, operate_time AS operateTime, note-->
<!--    </sql>-->

</mapper>
